.loginDiv {
    position: absolute;
    float: right;
    right: 30px;
}

.bannerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 10%; */
    height: 60px;
    font-size: 24px;
    border-bottom: 1px solid #cccccc;
    background: #008080;
    color: white; 
}