.messagesContainer {
    flex-grow: 1;
    overflow-y: auto;
    padding: 20px 20px 0 20px;
    background-color: #ffffff;
}

.message {
    display: block;
    max-width: 60%;
    margin: 15px 10px;
    padding: 15px;
    border-radius: 15px;
    word-wrap: break-word;
    width: fit-content;
}

.user {
    margin-left: auto;
    background-color: #6ea9d7;
}

.agent {
    margin-right: auto;
    background-color: #f5f5f5;
    position: relative;
    min-width: 300px;
}

.messageHeader {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    gap: 8px;
}

.agentIcon {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #6ea9d7;
}

.audioPlayer {
    margin-top: 10px;
    width: 100%;
    max-width: 300px;
}

.agentTitle {
    font-weight: bold;
    color: #6ea9d7;
}
